<h1>Listing listings</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Description</th>
      <th>Salary</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.job %></td>
        <td><%= listing.description %></td>
        <td><%= number_to_currency(listing.salary) %></td>
        <td><%= listing.location %></td>
        <td><%= "Posted by #{listing.user.name}" %></td>
        <td><%= link_to 'Show', listing, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Post a New Job', new_listing_path %>
