<h1>Job listings</h1>

<table class="table table-striped table-bordered">
    <tr>
      <th class="center">Job</th>
      <th class="center">Description</th>
      <th class="center">Salary</th>
      <th class="center">Location</th>
      <th class="center">Action</th>
    </tr>

    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.job %></td>
        <td><%= listing.description %></td>
        <td><%= number_to_currency(listing.salary) %></td>
        <td><%= listing.location %></td>
        <td><%= link_to 'Apply Now', listing, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'Post a New Job', new_listing_path, class: "btn btn-link" %>
<% end %>
